{% set modal_id = 'modal'|clean_unique_id %}
{{ include('kinetic:dialog', {
  modal_id: modal_id,
  modal_heading: modal_heading,
  modal_content: modal_content,
}, with_context: false) }}

<button class="btn-primary" data-micromodal-trigger="{{ modal_id }}">
  {{ modal_trigger }}
</button>