<div{{ attributes.addClass([]) }}>
  <div class="grid md:grid-cols-2 gap-8">
    <div class="col-span-1">
      {{ media }}
    </div>
    <div class="col-span-1 self-center {{ layout|default('left') == 'right' ? 'order-first'}}">
      {{ include('kinetic:title', {
        heading_style: 'h2',
        heading: heading,
      }, with_context: false )}}
    </div>
  </div>
</div>
