{% set wrapper_classes = [
  'layout--' ~ layout_class|clean_class,
  'layout',
  'position-relative',
  wrapper_classes|join(' '),
]%}

{% set inner_wrapper_attributes = create_attribute() %}
{% set inner_wrapper_classes = [
  inner_wrapper_classes|join(' '),
  'inner-wrapper',
]%}

{% set id = layout_id ? layout_id : settings.label  %}
{% set attributes = attributes ? attributes : create_attribute() %}
{# Handle all possible section settings. These come from the custom classes from kinetic.layouts.yml #}
<section{{ attributes.addClass(wrapper_classes).setAttribute('id', id) }}>
  <div {{ inner_wrapper_attributes.addClass(inner_wrapper_classes) }}>
    {{ content }}
  </div>
</section>
