<div class="flex items-center gap-2">
  <div class="rounded-full overflow-hidden bg-gray-050 w-[32px] h-[32px]">
    {{ image }}
  </div>
  <h4 class="font-body !text-[16px] !mb-0"> {{ name }} </h4>
</div>