<div class="bg-gray-800 p-4">
  <div aria-hidden="true">
    {{ icon }}
  </div>
  <h3 class="h3 text-white mb-0 mt-2"> {{ heading }} </h3>
  <div class="text-white">
    {{ description }}
  </div>
</div>