<div {{ attributes.addClass('kinetic-toc')
  .setAttribute('data-content-selector', content_selector|default('body'))
  .setAttribute('data-heading-selector', heading_selector|default('h2, h3, h4'))
}}>
  <nav class="kinetic-toc-inner"></nav>
</div>