/* https://tailwindcss.com/docs/theme#theme-variable-namespaces */
/* https://tailwindcss.com/docs/hover-focus-and-other-states#appendix */
/* For custom utilities */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Values_and_Units/CSS_data_types */

@import "tailwindcss";

/* Define all the sources where classes need to be discovered. */
@source "../../../components";
@source "../../../../templates";
@source "../../../../includes";
@source "../../../../../../../modules/custom";
@source "../../../../src";

/* Add classes configured in WYSIWYG so they don't get stripped out */
@source inline('{btn-primary,btn-secondary,btn-tertiary,btn-quaternary}');

/* Components */
@import "./general/breakpoint.pcss.css";
@import "./general/button.pcss.css";
@import "./general/color.pcss.css";
@import "./general/container.pcss.css";
@import "./general/form.pcss.css";
@import "./general/icons.pcss.css";
@import "./general/link.pcss.css";
@import "./general/typography.pcss.css";
@import "./general/utility.pcss.css";

/* This is used for Kinetic Breakpoints. Do not delete */
/* See global/js/breakpoints.es6.js */
.kinetic-breakpoints {
  --breakpoints:
    sm:var(--breakpoint-sm),
    md:var(--breakpoint-md),
    lg:var(--breakpoint-lg),
    xl:var(--breakpoint-xl),
    2xl:var(--breakpoint-2xl);
}

/* Layers */
@layer base {
  /* Custom base variables */
  body {
    @apply font-body leading-normal text-[17px] tracking-tighter text-gray-900;
  }
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, input:not([type='submit']), p, small, i, figcaption, div {
    @apply dark:text-white;
  }

  .bg-gray-950,
  .bg-black {
    p, ul, ol, li, textarea, small, figcaption, div {
      @apply text-gray-400;
    }
  }

  [class*='icon-'][class*='mask-'] {
    @apply dark:bg-white;
  }

  span.text-align-left {
    @apply block;
  }
  span.text-align-right {
    @apply block;
  }
  span.text-align-center {
    @apply block;
  }
  span.text-align-justify {
    @apply block;
  }
  
  a, button {
    cursor: pointer;
  }

}