
{% set attributes = create_attribute() %}

{# Set Alignment #}
{% if alignment == 'center' %}
  {% set attributes = attributes.addClass('items-center') %}
{% elseif alignment == 'left' %}
  {% set attributes = attributes.addClass('items-start') %}
{% elseif alignment == 'right' %}
  {% set attributes = attributes.addClass('items-end') %}
{% endif %}

<div {{ attributes.addClass('section-intro', 'flex', 'flex-col') }} >
  {{ include('kinetic:title', {
    heading: heading,
    eyebrow: eyebrow,
    heading_style: 'h2',
    heading_tag: 'h2',
  }, with_context: false) }}

  {% if description is not empty %}
    <div class="mt-4 text-formatted">
      {{ description }}
    </div>
  {% endif %}

  {% if ctas is not empty %}
    <div class="mt-4">
      {{ ctas }}
    </div>
  {% endif %}
</div>
