{% set attributes = attributes.setAttribute('data-open', open|default(false)) %}
{% set attributes = attributes.setAttribute('data-allow-multiple', allow_multiple|default(false)) %}

<div {{ attributes.addClass('accordion') }}>
  {{ accordion_items }}
</div>

