{% stories card with {
  title: 'Blocks/Text and Media',
  argTypes: {
    layout: {
      control: 'radio',
      options: {
        left: 'left',
        right: 'right',
      }
    }
  }
} %}
  {% story default with {
    name: '1. Default',
    args: {
      layout: 'left'
    }
  } %}
    {% embed 'kinetic:layout--one-column' %}
      {% block first %}
        {% embed 'kinetic:text-and-media' with {
          layout,
          heading: 'Massa perspiciatis iaculis laboris',
        } only %}
          {% block _media %}
            <img src="https://placehold.co/600x400" alt="">
          {% endblock %}
          {% block _description %}
            <p>Massa perspiciatis iaculis laboris illo facilis auctor potenti cupidatat, dolores iste nonummy facilis eligendi gravida donec! Lorem! Odio, perspiciatis quaerat.</p>
          {% endblock %}
          {% block _ctas %}
            {% embed 'kinetic:ctas' %}
              {% block _ctas %}
                {{ include('kinetic:link--button', {
                  title: 'Link',
                  attributes: create_attribute({href: '/', class:['btn', 'btn-primary']}),
                }, with_context = false )}}
                {{ include('kinetic:link--button', {
                  title: 'Link',
                  attributes: create_attribute({href: '/', class:['btn', 'btn-outline']}),
                }, with_context = false )}}
              {% endblock %}
            {% endembed %}
          {% endblock %}
        {% endembed %}
      {% endblock %}
    {% endembed %}
  {% endstory %}
{% endstories %}
