{% set attributes = create_attribute() %}

{# Set Alignment #}
{% if alignment %}
  {% set attributes = attributes.addClass('alignment--' ~ alignment) %}
{% endif %}

<div class='billboard'>
  {{ media }}
  <div {{ attributes.addClass(['billboard-content', 'surface--dark']) }} >
    {{ include('kinetic:title', {
      heading,
      heading_style,
      heading_tag,
    }, with_context: false) }}

    {% if ctas is not empty %}
      <div class="billboard-ctas">
        {{ ctas }}
      </div>
    {% endif %}
  </div>
</div>
