<div {{ attributes.addClass([
  'relative',
  'w-full',
  'py-8',
  'min-h-[300px]',
  'bg-navy',
  'flex',
  'flex-col',
]) }}>
  <div class="container flex flex-col justify-center flex-1 text-white z-1">
    <p> {{ eyebrow }} </p>
    <h1> {{ heading }} </h1>
    {{ banner_content }}
  </div>
</div>
