<h2 class="eyebrow-special !mb-8"> {{ title }} </h2>
{{ include('kinetic:view-content', {
  rows: items,
  columns: columns|default(3),
  gap: gap|default(1),
}, with_context: false) }}
{% if href and link_text %}
  <div class="flex justify-center mt-8">
    <a class="btn-orange btn-sm" href="{{ href }}"> {{ link_text }}</a>
  </div>
{% endif %}