<div>
  <blockquote>
    {{ quote }}
  </blockquote>

  <div class="mt-10">
    <div class="flex items-center gap-4 justify-end">
      {% if image is not empty %}
        <div class="rounded-full w-[64px] h-[64px]">
          {{ image }}
        </div>
      {% endif %}
      <div class="byline__author">
        <h5 class="font-body text-[19px] !mb-0 font-bold"> {{ attribution }} </h5>
        <p class="text-gray-600 mb-0"> {{ attribution_description }} </p>
      </div>
    </div>
  </div>
</div>