@reference "@base/global/css/index.pcss.css";
.kinetic-banner .banner-media {
  img, video {
    aspect-ratio: initial;
    position: absolute;
    inset: 0;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
  }
}