<div class="relative p-4">
  <h3>
    {# Make sure you have the the stretch custom utility. #}
    <a href={{ url }} title="Read more about {{ title }}" class="stretch">{{ title }} </a>
  </h3>
  <p> {{ description }} </p>
  <span aria-hidden="true" class="link-next"> Read more </span>
</div>