{% set layout_class = 'content-header' %}
{% set column_classes = ['col-12'] %}
{% set content %}
  <div class="row">
    <div class="{{ column_classes|join(' ') }}">
      {{ first }}
    </div>
  </div>
{% endset %}

{{ include('kinetic:section', {
  settings: {
    content_width: 'full',
  },
  content: content,
}, with_context: false) }}
