@reference "@base/global/css/index.pcss.css";

[data-component-id="kinetic:header"] {
  position: sticky;
  top: var(--gin-toolbar-secondary-height, 0);
  z-index: 99;
}
.menu--main {

  button[aria-expanded="false"] + ul {
    display: none;
  }
  button[aria-expanded="true"] + ul {
    @apply block bg-blue-500 md:absolute md:z-99;
    width: max-content;
    top: calc(100%);
    @apply px-4 py-2 text-sm;
  }
  button {
    @apply w-full;
    @apply flex items-center justify-between after:transition after:bg-[currentColor] after:icon-caret/sm;
  }
  button.is-open {
    @apply text-blue-50 after:rotate-180;
  }

}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}



#mobile-nav-wrapper {
  &.is-open .mobile-nav__inner {
    animation: slide-in 0.3s forwards;
  }
  .mobile-nav__inner {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    width: 75%;
  }
}

/* Hide and Show the container for the mobile menu. */
#mobile-nav-wrapper {
  display: none;
}
#mobile-nav-wrapper.is-open {
  display: block;
  position: fixed;
  height: 100vh;
  top: calc(var(--gin-toolbar-secondary-height, 0px) + 58px);
  left: 0;
  right: 0;
  z-index: 100;
}