@reference "@base/global/css/index.pcss.css";

[data-component-id="kinetic:header"] {
  position: sticky;
  top: var(--drupal-displace-offset-top, 0px);
  left: 0;
  z-index: 20;
  right: 0;
  ul, li {
    @apply ml-0;
  }
  .header__top,
  .header__main .menu--main,
  .header__main .menu--cta {
    @apply max-menu:d-none;
  }

  .header__main {
    display: flex;
  }
}
/* Main menu */
.menu--main > ul {
  @apply flex flex-col menu:flex-row menu:gap-8;

  .pmm-menu-item > a,
  .pmm-menu-item > span {
    @apply py-2 transition-[color] menu:text-white font-bold uppercase text-base tracking-[1.6px] flex items-center;
  }
  .pmm-dropdown-trigger {
    @apply gap-1;
    @variant after {
      @apply bg-gray-900 icon-caret/sm rotate-90;
    }
    &[aria-expanded='true'] {
      @apply text-gray-900;
    }
  }
  .pmm-dropdown {
    &.is-open {
      top: calc(100% + 25px);
    }
  }
}

/* Layout Builder Layout. */
.layout-pmm {
  /* Styles here */
}

/* Hide and Show the container for the mobile menu. */
#mobile-nav-wrapper {
  display: none;
}
#mobile-nav-wrapper.is-open {
  display: block;
  position: fixed;
  top: initial;
  height: calc(100vh - 63px - var(--drupal-displace-offset-top, 0px));
  overflow: hidden;
  left: 0;
  right: 0;
  background: white;
  z-index: 100;
}