<div {{ attributes.addClass("flex justify-between flex-col md:flex-row items-center gap-4") }} >
  <div class="aspect-square [&_img]:cover">
    {{ media }}
  </div>
  <div class="p-4 pt-2">
    <div class="mb-8">
      <h4 class="inline-block"> {{ heading }} </h4>
      {{ body }}
    </div>
  </div>
