{% if variant == 'grid' %}
  {% set attributes = attributes.addClass([
    'grid', 'grid-cols-1', 'md:grid-cols-3', 'gap-6',
  ]) %}
{% endif %}

<div {{ attributes.addClass('logo-bar') }}>
  {% if variant == 'animate' %}
    {{ include('kinetic:marquee', {
      items: logos,
      gap: 24,
      direction: 'horizontal',
    }, with_context: false) }}
  {% else %}
    {{ logos }}
  {% endif %}
</div>