<div {{ attributes.addClass("bg-white rounded-b lg:rounded-b-none lg:rounded-r flex flex-col justify-between") }} >
  <div>
    {{ media }}
  </div>
  <div class="p-4 pt-2">
    <div class="mb-8">
      <h4 class="inline-block"> {{ heading }} </h4>
      {{ body }}
    </div>
  </div>
</div>
